body {
    background: #000000;
    margin: 0;
}

#gameState {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    background-color: none;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

#topBtn, #bottomBtn {
    display: flex;
    pointer-events: none;
}

#redBtn, #blueBtn, #greenBtn, #yellowBtn {
    border: none;
    height: 25%;
    width: 40%;
    position: absolute;
    margin: 0px;
    padding: 0px;
}

#redBtn {
    top: 24.5%;
    left: 9%;
    background: red;
    border-radius: 150px 30px 30px 30px;    
}

#redBtn:active {
    top: 24.5%;
    left: 9%;
    background: black;
    border-radius: 150px 30px 30px 30px;    
}

#blueBtn {
    top: 24.5%;
    right: 9%;
    background: blue;
    border-radius: 30px 150px 30px 30px;
}

#blueBtn:active {
    top: 24.5%;
    right: 9%;
    background: black;
    border-radius: 30px 150px 30px 30px;
}

#greenBtn {
    bottom: 24.5%;
    left: 9%;
    background: green;
    border-radius: 30px 30px 30px 150px;
}

#greenBtn:active {
    bottom: 24.5%;
    left: 9%;
    background: black;
    border-radius: 30px 30px 30px 150px;
}

#yellowBtn {
    bottom: 24.5%;
    right: 9%;
    background: yellow;
    border-radius: 30px 30px 150px 30px;
}

#yellowBtn:active {
    bottom: 24.5%;
    right: 9%;
    background: black;
    border-radius: 30px 30px 150px 30px;
}

#startBtn {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    background: white;
    text-align: center;
    border: none;
    width: 40%;
    position: absolute;
    bottom: 10%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 30px;
    pointer-events: none;
    color: black;
    font-size: 1.5em;

}

#startBtn:active {
    background: black;
    color: grey;
}

.act {
    opacity: 0;
}